.about-page{
  width: 100%;
  padding-top: 40px;
  font-family: Arial;
}


/* HERO SECTION */

.about-hero{
  display: flex;
  gap: 40px;
  padding: 40px;
  background: #f2f1e9;
  border-radius: 20px;
}

.about-hero .left h1{
  font-size: 70px;
  font-weight: 900;
}

.about-hero .right{
  max-width: 600px;
}


/* FEATURE CARDS */

.features{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 50px;
}

.features .card{
  background: #f5f7fb;
  padding: 20px;
  border-radius: 20px;
}

.features img{
  width: 100%;
  border-radius: 12px;
}


/* FAQ */

.faq{
  margin-top: 60px;
}

.faq details{
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  margin-top: 12px;
}


/* CONTACT */

.contact{
  margin-top: 60px;
  display: flex;
  gap: 40px;
  background: #eef2f5;
  padding: 40px;
  border-radius: 20px;
}

.contact form{
  display: grid;
  gap: 10px;
  width: 400px;
}

.contact input,
.contact textarea{
  padding: 12px;
  border-radius: 10px;
  border: 1px solid gray;
}

.contact button{
  background: #1476ff;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 10px;
}
