.shop-page {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;
  padding: 30px 5%;
}

/* LEFT SIDEBAR */
.sidebar h3 {
  margin-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 8px 0;
  cursor: pointer;
}

.sidebar .active {
  color: blue;
  font-weight: bold;
}

.sidebar input {
  width: 100%;
}

/* RIGHT CONTENT */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header select {
  padding: 6px 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 20px;
}

.card {
  text-decoration: none;
  color: black;
}

.image-box {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  display: block;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e7f1ff;
  color: #0075ff;
  padding: 6px 10px;
  border-radius: 25px;
  font-size: 13px;
}

.old {
  text-decoration: line-through;
  color: gray;
}

.new {
  color: #0075ff;
  font-weight: bold;
}

.load-btn {
  margin: 30px auto;
  display: block;
  padding: 10px 30px;
  background: #2f80ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* RESPONSIVE */
@media(max-width: 900px) {
  .shop-page {
    grid-template-columns: 1fr;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
